CodeBasics/.ipynb_checkpoints/StringsExercise-checkpoint.ipynb
numpy practice/.ipynb_checkpoints/numpy1-checkpoint.ipynb
numpy practice/.ipynb_checkpoints/basic_functions-checkpoint.ipynb
numpy practice/.ipynb_checkpoints/Matrix_ops-checkpoint.ipynb
numpy practice/.ipynb_checkpoints/slicing-checkpoint.ipynb
